/*Background video*/
body{
    margin: 0px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreen-bg__video {
    position: center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%
}


/*intro block*/
.intro-block{
    position: center;
    text-align: center;
}

/*Text*/
h1 {
    color: white;
    font-size: 250%;
    opacity: 0.66;
    font-family: Michroma;
    margin-top: 18%;

}

.links {
    font-family: Michroma;
    color: white;
    opacity: 0.66;
}