/*Background video*/
body{
    margin: 0px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreen-bg__video {
    position: center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%
}


/*intro block*/
.intro-block{
    position: absolute;
    text-align: center;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

/*Text*/
h1 {
    color: white;
    font-size: 2.5vw;
    opacity: 0.66;
    font-family: Michroma;
}

.links {
    font-family: Michroma;
    color: white;
    opacity: 0.66;
}