/*Background video*/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fullscreen-bg__video {
    position: center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%
}


/*intro block*/

.intro-block{
    position: absolute;
    text-align: center;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -250px; /* Negative half of width. */
    margin-top: -100px; /* Negative half of height. */
}


/*Text*/
h1 {
    color: white;
    font-size: 230%;
    opacity: 0.66;
    font-family: Michroma;
}

.links {
    font-family: Michroma;
    color: white;
    opacity: 0.66;
}