body{
  margin: 0;
}

.btn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: yellow; /* Set a background color */
  opacity: 0.4;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px; /* Some padding */
  border-radius: 4px; /* Rounded corners */
  font-size: 100%; /* Increase font size */
}

.btn:hover {
  background-color: aquamarine; /* Add a dark-grey background on hover */
}

/*TOP BLOCK ELEMENTS*/
.top-block{
	background-image: url(visuals/pics/moments-top-bg.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  padding-bottom:15%;
}

h1 {
    color: yellow;
    font-size: 250%;
    opacity: 0.5;
    font-family: Michroma;
    text-align: center;
    padding-top: 13%;
}

.home-button{
    margin: 1%;
    color: yellow;
    font-family: michroma;
}

.top-text{
    color: yellow;
    font-size: 250%;
    opacity: 0.75;
    font-family: Michroma;
    text-align: center;
    font-size: 80%;
}

/* NAVIGATION BAR ELEMENTS*/
.navbar{
    padding: 3px;
    background-color: #FDFD27;
    opacity: 0.9;
}

.nav-link {
  color: black;
  opacity: 0.5;
  font-family: Michroma;
  text-align: center;
  padding: 14px 16px;
}

.nav-link:hover{
    background-color: purple;
}

/* DANIEL BLOCK ELEMENTS */
.moment-daniel{
    background-image: url(visuals/pics/moments-daniel-bg.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.moment-daniel-header{
    color: white;
    font-size: 200%;
    opacity: 0.75;
    font-family: Michroma;
    text-align: left;
    margin-bottom: 25%;
    margin-top:10%;
}
.moment-daniel-text{
    text-align: left;
    color: #FAFA53;
    opacity: 0.6;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    line-height: 1.5;
}

.flex-container{
  flex-wrap:nowrap;
  align-items: center;
  background-color:black;
}