/*TOP BLOCK ELEMENTS*/
.top-block{
	background-image: url(visuals/pics/moments-top-bg.JPG);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding-bottom:15%;
}

h1 {
    color: yellow;
    font-size: 250%;
    opacity: 0.5;
    font-family: Michroma;
    text-align: center;
    padding-top: 13%;
}

.home-button{
    margin: 1%;
    color: white;
    font-family: michroma;
}

.top-text{
    color: yellow;
    font-size: 250%;
    opacity: 0.75;
    font-family: Michroma;
    text-align: center;
    font-size: 80%;
}

/* NAVIGATION BAR ELEMENTS*/
.link-block{
    padding: 3px;
    background-color: yellow;
    opacity: 0.9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-button {
  float:left;
}

.nav-button:hover{
    background-color: darkslateblue;
}

.nav-link {
  display: block;
  color: black;
  opacity: 0.5;
  font-family: Michroma;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* DANIEL BLOCK ELEMENTS */
.moment-daniel{
    background-image: url(visuals/pics/moments-daniel-bg.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.moment-daniel-header{
    color: white;
    font-size: 200%;
    opacity: 0.75;
    font-family: Michroma;
    text-align: left;
    margin-bottom: 25%;
    margin-top:10%;
}
.moment-daniel-text{
    text-align: left;
    color: yellow;
    opacity: 0.5;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.5;
}