/* TEXT BLOCK ELEMENTS*/

.text-block {
    text-align: left;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: black;
    padding: 8%;
    line-height: 1.5;
}

.prof-text{
    color: white;
    opacity: 0.6;
}

.prof-resume{
    color: yellow;
    opacity: 0.8;
}