.btn:hover {
  background-color: #D4FE01; /* Add a dark-grey background on hover */
}

/* NAVIGATION BAR ELEMENTS*/
.navbar{
    padding: 3px;
    background-color: #D4FE01;
    opacity: 0.9;
}

.nav-link {
  color: black;
  opacity: 0.5;
  font-family: Michroma;
  text-align: center;
  padding: 14px 16px;
}

.nav-link:hover{
    background-color: lightsalmon;
}



/* siwei BLOCK ELEMENTS */
.sensual-siwei{
    background-image: url(visuals/pics/sensual-siwei-bg.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.sensual-siwei-header{
    color: aquamarine;
    font-size: 200%;
    font-family: Michroma;
    opacity:0.5;
    text-align: left;
    margin-bottom: 10%;
}

.sensual-siwei-text{
    padding-left:25%;
    text-align: left;
    color: navajowhite;
    opacity: 0.8;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    /*font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
    line-height: 2;
}

/* HEDGEHOG BLOCK ELEMENTS*/
.sensual-hedgehog{
    background-image: url(visuals/pics/sensual-hedgehog-bg.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.sensual-hedgehog-header{
    color: mistyrose;
    font-size: 200%;
    font-family: Michroma;
    opacity:1;
    text-align: left;
    margin-bottom: 10%;
}
.sensual-hedgehog-text{
    padding-left:25%;
    text-align: left;
    color: lavenderblush;
    opacity: 0.9;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    /*font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
    line-height: 2;
}

.sensual-shasha{
  background-image: url(visuals/pics/sensual-shasha-bg.JPG);
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}